.profile-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px;
  font-family: Arial, sans-serif;
}
.profile-card {
  background-color:aliceblue;
  border: 1px solid aliceblue;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  padding: 20px;
}
.profile-card img {
  border-radius: 6%;
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
}
#name1, #name2, #name3 {
  font-size: 1.4em;
  margin: 10px 0;
  color: black;
}
.role {
  font-size: 1.1em;
  color: black;
  margin-bottom: 10px;
}
.profile-card p {
  font-size: 0.95em;
  color: black;
}
